# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Practice evaluating arithmetic expressions in a Jupyter notebook

In [ ]:
## Author
Alex

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Tensorflow
3. PyTorch

| Data Science Tools | 
| --- | 
| Apache Spark | 
| Apache Hive | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335